{% extends 'base.html' %}

{% block title %}
    کد احراز
{% endblock %}

{% block content %}
    <style>

        .timer {
            /* تنظیمات کلی تایمر */
            display: flex;
            justify-content: center;
            align-items: center;
            width: 330px;
            height: 100px;
            background-color: #fa9614;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .timer__time {
            /* تنظیمات مربوط به بخش زمان */
            font-size: 36px;
            font-weight: bold;
            color: #333;
            margin: 0 10px;
        }

        .timer__colon {
            /* تنظیمات مربوط به دو نقطه */

            font-size: 24px;
            font-weight: normal;
            color: #666;
            margin: 0 5px;
        }

        .timer__sections {
            /* تنظیمات مربوط به بخش های مختلف زمان */
            display: flex;
        }

        .timer__section {
            /* تنظیمات کلی هر بخش */
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px;
        }

        .timer__label {
            /* تنظیمات مربوط به برچسب هر بخش */
            font-size: 16px;
            font-weight: normal;
            color: #666;
            margin-bottom: 5px;
        }

        .timer__value {
            /* تنظیمات مربوط به مقدار هر بخش */
            font-size: 24px;
            font-weight: bold;
            color: #333;
        }
    </style>
    <div class="container">
        <section id="form"><!--form-->
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="signup-form"><!--sign up form-->
                        <h2>کد احراز هویت</h2>
                        <form action="#" method="post">
                            {% csrf_token %}
                            {{ form.code }}
                            <br>

                            <button type="submit" class="btn btn-default">تایید</button>


                        </form>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                        <script>
                            var minutes;
                            var seconds;
                            var set_inteval;

                            function otp_timer() {
                                seconds -= 1;
                                document.getElementById('seconds').innerHTML = seconds;
                                document.getElementById('minutes').innerHTML = minutes;
                                if (seconds == 0) {
                                    if (minutes > 0) {
                                        seconds = 60;
                                        minutes -= 1;
                                    } else {
                                        minutes = 0;
                                        document.getElementById('minutes').innerHTML = minutes;
                                        clearInterval(set_inteval);
                                        minutes = 0;
                                        seconds = 0;
                                        document.getElementById('seconds').innerHTML = '00';
                                        document.getElementById('minutes').innerHTML = '0';
                                        document.getElementById('my-button').disabled = false;
                                    }
                                }
                            }

                            function startTimer() {
                                minutes = 1;
                                seconds = 60;
                                document.getElementById('seconds').innerHTML = seconds;
                                document.getElementById('minutes').innerHTML = minutes;
                                set_inteval = setInterval('otp_timer()', 1000);
                                document.getElementById('my-button').disabled = true;
                            }

                            $(document).ready(startTimer);

                        </script>
                        <br>
                        <div class="timer">
                            <div class="timer__time">
                                <span class="timer__label"> زمان باقیمانده :</span>
                                <span class="timer__value " id="seconds">00</span>
                                <span class="timer__colon ">:</span>
                                <span class="timer__value " id="minutes">0</span>
                                <button class="btn btn-default" id="my-button" disabled
                                        onclick="location.href='{% url "accounts:resend" %}'">ارسال مجدد
                                </button>
                            </div>
                        </div>


                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}